<%- include('../partials/header') %>

  <% workouts.forEach(function(f) { %>
    <table id="history">
      <strong>Name of Exercise:</strong>
      <%= f.name %>
        <hr>
        <% for (let i=0; i < 6; i++) { %>
          <strong>Exercise <%= i + 1 %>:</strong>
          <%= f['exercise' + i ] %>
            <% }; %>
              <a href="/workouts/<%= f._id %>">DETAILS</a>
              <form action="/workouts/<%= f._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
    </table>
    <hr>
    <% }); %>

      <%- include('../partials/footer') %>