<%- include('../partials/header') %>

  <% workouts.forEach(function(f) { %>
    <table id="history">
      <tbody>
        <tr>
          <ul><td>
           <li><strong>Name of Workout:</strong>
            <%= f.name %>&nbsp;|&nbsp;</li> 
          </td></ul>
          <% for (let i=0; i < 6; i++) { %>
            <td>
              <strong>Exercise <%= i + 1 %>:</strong>
              <%= f['exercise' + i ] %>&nbsp;|&nbsp;
            </td>
            <% }; %>
              <td>
                <a href="/workouts/<%= f._id %>" id="detailsLink">WORKOUT</a>&nbsp;|&nbsp;
              </td>
              <td>
                <a href="/workouts/<%= f._id %>/details" id="detailsLink">DETAILS</a>
              </td>
              <td>
                <form action="/workouts/<%= f._id %>?_method=DELETE" method="POST">
                  <button type="submit" id="deleteBtn"> X </button>
                </form>
              </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <% }); %>

      <%- include('../partials/footer') %>




