<%- include('../partials/header') %>


  <div id="history">
    <% workouts.forEach(function(f) { %>
      <div>
        <strong>Name of Exercise:</strong>
        <%= f.name %>
      </div>
      <div>
        <% for (let i=0; i < 6; i++) { %>
          <strong>Exercise <%= i + 1 %>:</strong>
          <%= f['exercise' + i ] %>
            <% }; %>
      </div>
      <div><a href="/workouts/<%= f._id %>">DETAILS</a></div>

      <!-- <form action="/workouts/<%= f._id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" >Delete</button>
      </form> -->
      <% }); %>

  </div>



    <%- include('../partials/footer') %>