<%- include('../partials/header') %>
<div id="workoutHead">
    <tr>
      <th>Muscle Group</th>&nbsp;|&nbsp;
      <th>Exercise</th>&nbsp;|&nbsp;
      <th>Sets</th>&nbsp;|&nbsp;
      <th>Reps</th>&nbsp;|&nbsp;
      <th>Weight</th>
    </tr>
</div>
<div id="history">

  <% workouts.forEach(function(f) { %>
    <tr>
      <td>
        <%= f.name %>
      </td>
      <td>
      <%= f.exercise0 %>
    </td>
      <td>
      <%= f.exercise1 %>
    </td>
      <td>
      <%= f.exercise2 %>
    </td>
      <td>
      <%= f.exercise3 %>
    </td>
      <td>
      <%= f.exercise4 %>
    </td>
      <td>
      <%= f.exercise5 %>
    </td>
  </tr>
  <br>
  <% }); %>


</select>
</div>

</div>
<%- include('../partials/footer') %>