<%- include('../partials/header') %>

<div class="qqq">

    <div id="containerData">
        <form id="exerciseData" action="/workouts/<%= workout._id %>/data" method="POST">
            <strong>Name: </strong>
           <%= workout.name %>
<hr>
           <% for (let i=0; i < 6; i++) { %>
            <tbody>
                <tr>
                    <td>
                        <label"><strong>Exercise <%= [i + 1] %>: <%= workout['exercise' + i ] %></strong></label>
                        <hr>
                    </td>
                    <td>
                        <label><strong>Sets: </strong> </label>
                        <select name="sets<%= i %>">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>&nbsp;|&nbsp;
                    </td>
                    <td>
  
                        <label><strong>Reps: </strong> </label>
                        <select name="reps<%= i %>">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option value="15">15</option>
                          <option value="16">16</option>
                          <option value="17">17</option>
                          <option value="18">18</option>
                          <option value="19">19</option>
                          <option value="20">20</option>
                        </select>&nbsp;|&nbsp;
                    </td>
                    <td>
                        <label>Weight: <input type="text" name="weight<%= i %>" placeholder="lbs" id="input"></label>
                        
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <hr>
                </tr>
            </tbody>

           <% } %>
           <br>
            <input type="submit" name="Add Exercise Info" id="">
        </form>
    </div>
    <br>
    <a href="/workouts" id="links">Back to Workouts</a>
</div>


    <%- include('../partials/footer') %>