<%- include('../partials/header') %>

<div id="containerDetails">

    <% for (let i=0; i < 6; i++) { %>
        <ul>
            <li>
          <%= workout['exercise' + i ] %>
      </li>
      <li>
          <label>Sets:</label>
          <%= workout['exercise' + i ]['sets' + i ]%>
        </li>
        <li>
            <label>Reps:</label>
            <%= workout['exercise' + i ]['reps' + i ]%>
        </li>
        <li>
            <label>Weight:</label>
            <%= workout['exercise' + i ]['weight' + i ]%>
        </li>
    </ul>
    <% } %>
    <a href="/workouts" id="links">Back to Workouts</a>
</div>

<%- include('../partials/footer') %>